<div class="container mt-4 col-sm-6">
    <div class="card text-center">
        <div class="card-header">
          Servicios Agricolas Abrego Norte de Santander
        </div>
        <div class="card-body">
          <h5 class="card-title">Bienvenido al portal TractoMaquinas Pacheco</h5>
          <p class="card-text">Gestiona los servicios agricolas </p>
          <a class="btn btn-primary" id="linkListarservicioPrestado" routerLink="../servicioPrestado/crear" routerLinkActive="active">Servicios</a>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
  </div>
