<div class="container mt-4 col-sm-6">
  <div class="card bg-gray text-black">
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Vereda</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody class="products">
          <tr id="{{clientes.id}}" *ngFor="let clientes of clientes; let i=index">
            <td>{{clientes.id}}</td>
            <td>{{clientes.nombre}}</td>
            <td>{{clientes.identificacion}}</td>
            <td>{{clientes.vereda}}</td>
            <td><i id="borrar-{{clientes.id}}" class="bi bi-trash-fill btn-borrar" (click)="eliminarProducto(clientes,i)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
